body{
	/* padding-top: 54px; */
	background-image: url(../images/brickwall.png)
}
.navbar-brand {
	font-weight: bold;
	font-family: 'Noto Serif', serif;
}

li.nav-item {
	font-size: 20px;
	font-family: 'Noto Serif', serif;
}
li.nav-item a {
	color: #2A4259;
	padding-right: 40px;
	transition: all 1s;
}
.nav-item a:hover {
    text-decoration: #2A4259 underline;
	color: #2A4259;
	font-weight: bolder;
    transform: scale(1.1);
}
#content p {
	flex-wrap: wrap;
	font-size: 15px!important;
	line-height: 25px;
	/* position: relative; */
}
.card-title {
	font-weight: bold;
	text-align: center;
}
.card-text {
	text-align: center;
}
.img-thumbnail{
	transition: 1s;
}
.img-thumbnail:hover {
	transform: scale(1.1);
	content: url(../images/coder.jpg)
}
input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
#content {
	position: relative;
}
#card {
	border-radius: 15px;
	padding-bottom: 10px;
	color: #2A4259;
	font-family: 'Noto Serif', serif;
}
#maincontent {
	background-color: white;
	color: #2A4259;
	height: auto;
	margin: 6px 20px 20px;
	border-radius: 15px;
	font-family: 'Noto Serif', serif;
}
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #B3BEC9;
	text-align: center;
	padding: 10px;
}
#blockquote {
	font-family: 'Noto Serif', serif;
	font-size: 20px;
	font-weight: bolder;
	color: #2A4259;
}
#blockquote p {
	font-size: 25px;
}
/* portfolio */
.gallery {
	width: 300px;
	height: 200px;
	padding: 15px;
	position: relative;
	border: 1px solid #dddddd;
    border-radius: 4px;
	opacity: 0.7;
	margin: 20px;
}
.gallery:hover{
    opacity: 1;
    transform: scale(1.1);
    transition: all 2s;
}
.overlay {
    position: absolute; 
	bottom: 25px; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 300px;
    transition: .5s ease;
    color: white;
    font-size: 20px;
    padding: 5px;
    text-align: center;    
}
#factButton:hover{
	background-color: #48739B;
	border-color: #2A4259;
}
/* @media screen and (max-width: 980px) {
	.container {
		width: 100%;
	}
	#maincontent {
		width: 90%;
	}
	.gallery {
		width: 100%;
	}
	.navbar .fixed-top {
		width: 100%;
	}
} */